@page "/"
@using FrontDesktopBlzHybrid.DesktopServices
@using MudBlazor
@inject AppNativeFunctions _AppNativeFunctions

<h1>Hello, world!</h1>

<MudText Color="Color.Primary">Primeiro Deploy de um app Blazor Hybrid com maui Com Atualização Automatica</MudText>


@foreach(var impresora in impressoras)
{
    <MudText>@impresora</MudText>
}

@code{
    private List<string> impressoras = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        impressoras = _AppNativeFunctions.GetImpressoras();
    }
}