@rendermode RenderMode.InteractiveWebAssembly
@attribute [Authorize]
@page "/empresas-entrega-integradas"
@using FrontMenuWeb.Components.Modais.ModaisDeCadastros.Funcionarios
@using FrontMenuWeb.Components.Modais.ModaisDePessoas
@using FrontMenuWeb.Models.EntregaMachine
@using FrontMenuWeb.Models.Merchant
@using FrontMenuWeb.Models.Pessoas
@using FrontMenuWeb.Services
@using Microsoft.AspNetCore.Components
@using System.Globalization;
@using MudBlazor.Extensions
@using MudBlazor.Services
@using MudBlazor.Extensions.Components
@inject IHttpClientFactory HttpClientFactory
@inject EntregasMachineService EntregasMachineService
@using MudBlazor.Extensions.Services


<MudPaper Square="false" Elevation="0" Style="background-color: var(--mud-palette-background); min-height: 100vh; margin-top:50px">
    <MudLayout>
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <MudText Typo="Typo.h4">Empresas</MudText>
                <MudText Class="mb-3" Typo="Typo.body1">Lista de empresas de entregas Integradas.</MudText>
            </div>
            <div class="d-flex">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="Carregando" OnClick="@(async () => { })">Nova Empresa</MudButton>
            </div>
        </div>

        <MudDataGrid T="EmpresaMachine"
                     @ref="dataGridRef"
                     EditTrigger="DataGridEditTrigger.Manual"
                     MultiSelection="false"
                     SelectOnRowClick=true
                     Class="rounded-3 custom-striped"
                     Loading="Carregando"
                     Hover
                     ServerData="LoadServerData">
            <NoRecordsContent>
                <AvisoDeDadosVazios ReferenciaDados="Empresa de Entregas" />
            </NoRecordsContent>
            <ToolBarContent> 
            </ToolBarContent>
            <Columns>
                <PropertyColumn Property="x => x.Nome" Title="Nome"></PropertyColumn>
                <PropertyColumn Property="x => x.EmailEmpresaIntegrada" Title="Email"></PropertyColumn>
                <PropertyColumn Property="x => x.TipoPagamento" Title="Tipo de Pagamento"></PropertyColumn>
            </Columns>
        </MudDataGrid>
    </MudLayout>
   
</MudPaper>

@code {
    public EmpresaMachine Empresas { get; set; } = new EmpresaMachine();
    public bool Carregando { get; set; } = false;
    private MudDataGrid<EmpresaMachine> dataGridRef;



    #region Função de inicialização do grid
    private async Task<GridData<EmpresaMachine>> LoadServerData(GridState<EmpresaMachine> state)
    {
        try
        {
            Carregando = true;

            int page = state.Page + 1;
            int pageSize = state.PageSize;

            var result = await EntregasMachineService.GetEmpresasIntegradas();

            return new GridData<EmpresaMachine>
            {
                Items = result,
                TotalItems = result.Count()
            };

        }
        catch (Exception ex)
        {
            Snackbar.Add($"Erro ao carregar empresas: {ex.Message}", Severity.Error);
            return new GridData<EmpresaMachine> { };
        }
        finally
        {
            Carregando = false;
            await InvokeAsync(StateHasChanged);
        }

    }
    #endregion
}
